---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">个人亮点</div>
    </div>
    <div class="mb-10 ml-6 text-justify">
        <ul class="list-disc flex flex-col gap-2">
            <li>Java基础扎实</li>
            <li> 追求优雅功能实现</li>
            <li> 大厂工作经历</li>
            <li>并发编程</li>
            <li> 大数据数仓相关经验</li>
            <li>热爱技术，会把工作任务及难点当做自己的乐趣</li>
        </ul>
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">专业技能</div>
    </div>
    <div class="mb-10 ml-6 text-justify">
        <ul class="list-disc flex flex-col gap-2">
            <li>精通、熟悉 java 核心知识，具备良好的编程习惯，熟练使用常用设计模式</li>
            <li>掌握javaSE基础知识，对面向对象，泛型，常用集合都有深入理解</li>
            <li>熟练应用 java 并发编程，对java 的 JUC 相关知识有深入理解，阅读过相关源码</li>
            <li>深刻理解 JVM 虚拟机、掌握类的加载过程、深入理解JVM内存模型、具备线上 JVM 调优能力</li>
            <li>熟悉 spring 、springMVC 、SpringBoot 等核心框架，阅读过相关源码，对 springBoot自动装配</li>
            <li>熟悉 SpringCloud、SOFARPC 等微服务框架</li>
            <li>熟悉常用的分布式解决方案，理解分布式事务、分布式锁、等实现原理</li>
            <li>熟练掌握 MySQL 索引结构、事务隔离级别、具备日常SQL调优能力</li>
            <li>熟悉 kafka 等常用消息队列</li>
            <li>熟悉相关 CDC 工具,Flink 、Spark 、CDH 等相关大数据组件</li>
            <li>具备一定的前端开发能力，熟练使用VUE，具备一定全栈开发能力</li>
            <li>熟悉常用 Linux 发行版本，熟练使用常用 Linux 相关命令</li>
            <li>熟练使用 ElasticSearch</li>
            <li>熟悉 Docker 、常用CD/CD 工具</li>
            <li>熟练使用 Vue 、uniapp 等前端技术，具备一定全栈开发能力</li>
        </ul>
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">教育经历</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
        <TimeLineElement
                title="河南师范大学 (本科)"
                subtitle="2018 to 2020  财务管理专业  中国"
        />
        <TimeLineElement
                title="郑州大学 (大专)"
                subtitle="2011 to 2013 at 软件开发-Java方向, 河南郑州"
        />
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">工作经历</div>
    </div>

    <div class="time-line-container mb-10">
        <TimeLineElement
                title="某游戏公司"
                subtitle="2021 - 2024年  （全职远程）  Java 后端开发（大数据方向）"
        >

            <div class="mb-10 ml-1 text-justify">
                游戏数据后台风控系统开发：对游戏业务数据库的数据做相关功能开发、报表支持、数据自动告警开发等；
                描述：业务数据（MySQL 集群）中数据通过 Maxwell
                ->Kafka
                -> Flink (消费者) 途径对数据进行加工、清洗、脱敏后、存入数仓数据库（TiDB），从而对数仓数据进行一系列的报表分析、统计、搜索查看、阈值告警等功能开发。
                相关技术：Spring、XXL
                -Job、SofaRPC、kafka 、Flink 、MySQL、TiDB
            </div>


        </TimeLineElement>
        <TimeLineElement
                title="北京农信通科技有限责任公司"
                subtitle="2015 - 2021 Java 后端开发"
        >
            <div class="mb-10 ml-6 text-justify">
                <ul class="list-disc flex flex-col gap-2">
                    <li>负责 ToG 类政务管理系统开发；</li>
                    <li>网络舆情类系统研发及数据分析；</li>
                    <li>参与 ToB 类电商 APP 后台接口开发；</li>
                </ul>
            </div>

        </TimeLineElement>
        <TimeLineElement
                title="郑州智慧网络科技有限责任公司"
                subtitle="2013 - 2015 Java 后端开发"
        >

            <div class="mb-10 ml-6 text-justify">
                <ul class="list-disc flex flex-col gap-2">
                    <li>医院病案无纸化信息系统开发工作；</li>
                    <li>配合完成业务软件与医院 His 接口对接工作；</li>
                    <li>C/S端软件培训工作；</li>
                    <li>B/S端基础功能开发工作；</li>
                </ul>
            </div>

        </TimeLineElement>
    </div>

    <!--  <div class="mb-5">
        <div class="text-3xl w-full font-bold">Certifications</div>
      </div>

      <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
          <a href="#" target="_blank"> Certification Name (with link)</a>
        </li>
        <li>
          <a href="#" target="_blank"> Certification Name (with link)</a>
        </li>
      </ul>-->

    <!--<div class="mb-5">
      <div class="text-3xl w-full font-bold">Skills</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
    </ul>-->
</BaseLayout>
